body {
  font-family: 'Product Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #3f0071, #1a0036);
  background-size: cover;
  background-position: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #3f0071;
}

p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #3f0071;
}

.portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.portfolio-link {
  width: 80px;
  height: 80px;
  margin: 0 1rem;
  border-radius: 50%;
  color: #3f0071;
  font-size: 1.5rem;
  line-height: 80px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kryiers-star {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}.kryiers-star a {
  color: #3f0071;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}
